<head>
<link href="<%= url('/css/styles.css') %>" rel="stylesheet" type="text/css" />
<title>Home | Student Management</title>
</head>

<body>

<div class="header">
<h1>student management > home</h1>
</div>

<div class="top-nav">
  <div id="top-nav-btn-current" class="top-nav-btn">
    <a href="/"> home </a>
  </div>
  <div id="" class="top-nav-btn">
    <a href="/students"> students </a>
  </div>
  <div id="" class="top-nav-btn">
    <a href="/groups"> groups </a>
  </div>
</div>

<div class="card-container">



</div>

</body>
